.body {
  background: linear-gradient(
        90deg,
        hsl(256, 33, 10) (22px - 1px),
        transparent 1%
      )
      center,
    linear-gradient(hsl(256, 33, 10) (22px - 1px), transparent 1%) center,
    hsl(256, 33, 70);
  background-size: 22px 22px;
  height: 100vh;
}
